{{ if .Page.Params.navTitle }}
{{ .Page.Params.navTitle }}
{{ else }}
.red[No title provided, use `navTitle` in your page]
{{ end }}
{{ if not .Page.Title }}
.red[error rendering the nav menu], add

```
title: "your-id"
```
To the page.
It should match what you did put in the menu in the config file!

{{ end }}


{{ $currentPage := .Page.Title }}
{{ $previous := "" }}
{{ $next := "" }}

{{ $previousIteration := "" }}
{{ $stop := false }}
{{ range .Site.Menus.main.ByWeight }}
 {{ if eq $currentPage .Identifier }}
   {{ $previous = $previousIteration }}
 {{ end }}

 {{ if eq $previousIteration $currentPage }}
   {{ $next = .Identifier }}
 {{ end }}

 {{ $previousIteration = .Identifier }}
{{ end }}

.nav[ [Previous section](#{{$previous}})
|
[Back to table of contents](#toc)
|
[Next section](#{{$next}})
]
